
<html>
<head>
    <title>Energy Exchange Platform</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>

<div class="common menu" style="font-family: 'Noto Sans TC'; font-size: 20px;">
    <ul>
        <li><img src="../static/img/chaindesk.png" width="120px" height="50px"/></li>
        <li><a href="/myHome.html">我的首頁</a></li>
        <li><a href="/myMatch.html">我的配對</a></li>
    </ul>
</div>

<div class="common main">
    <div class="content" style="font-family: 'Noto Sans TC'; font-size: 16px;">
        <h2>媒合</h2>
        <div class="msg">
            <div class="formInfo" style=" font-family: 'Roboto Mono';">
                <form action="/match" method="post">
                    選擇充電站: <input type="text" name="stationID" placeholder="ex. A"/> (A,B,C區域)<br/>
                    最高SoC: &nbsp;&nbsp;<input type="text" name="maxSoC" placeholder="ex. 80"/> (%)<br/>
                    電費單價: &nbsp;<input type="text" name="price" placeholder="ex. 30"/> (元/kWh)<br/>
                    <input type="submit" value="SUBMIT"/><br/><br/>
                </form>
            </div>
        </div>
        <h2>顯示所有媒合結果</h2>
        <form action="/showAllMatch" method="post">
            <input type="submit" value="SEARCH"/><br/><br/>
        </form>
        <div class="showMsg" style=" font-family: 'Roboto Mono';">
            {{if .Flag1}}
                {{.Msg1}}
            {{end}}
        </div>

        <h2>充電功率</h2>
        <div class="msg">
            <div class="formInfo" style=" font-family: 'Roboto Mono';">
                <form action="/power" method="post">
                    充電站: &nbsp;&nbsp;<input type="text" name="stationID" placeholder="ex. A"/> (A,B,C區域)<br/>
                    充電樁: &nbsp;&nbsp;<input type="text" name="chargerID" placeholder="ex. 2"/> (1~30)<br/>
                    充電功率: <input type="text" name="power" placeholder="ex. 5"/> (kW)<br/>
                    狀態: &nbsp;&nbsp;&nbsp;<input type="text" name="state" placeholder="ex. 30"/> (待機:0,EV:1)<br/>
                    時間: &nbsp;&nbsp;&nbsp;<input type="text" name="timestamp" placeholder="ex. 30"/> (1~288)<br/>
                    <input type="submit" value="SUBMIT"/><br/><br/>
                </form>
            </div>
        </div>
        <h2>顯示所有充電功率</h2>
        <form action="/showAllPower" method="post">
            <input type="submit" value="SEARCH"/><br/><br/>
        </form>
        <h2>顯示特定充電樁的充電功率</h2>
        <div class="msg">
            <div class="formInfo" style=" font-family: 'Roboto Mono';">
                <form action="/showPowerbyCharger" method="post">
                    充電站: &nbsp;&nbsp;<input type="text" name="stationID_search" placeholder="ex. A"/> (A,B,C區域)<br/>
                    充電樁: &nbsp;&nbsp;<input type="text" name="chargerID_search" placeholder="ex. 2"/> (1~30)<br/>
                    <input type="submit" value="SUBMIT"/><br/><br/>
                </form>
            </div>
        </div>
        <div class="showMsg" style=" font-family: 'Roboto Mono';">
            {{if .Flag2}}
                {{.Msg2}}
            {{end}}
        </div>

        <div class="calink" style="font-family: 'Noto Sans TC'; font-size: 20px;">
            <a href="/myHome.html">我的首頁</a><br/>
            <a href="/myMatch.html">我的配對</a><br/>
        </div>
    </div>
</div>

<div class="common footer" style=" font-family: 'Roboto Mono';">
    Energy Exchange Platform on Blockchain. Powered by Jerry Freeman.
</div>

</body>
</html>
